<br>
<h2 class="font-weight-bolder text-center animate__animated animate__rotateInUpLeft  animate__delay-0.50s">
    ABOUT
</h2>
<hr class="my-3">
<div class="card bg-dark text-white animate__animated animate__flipInY ">
    <img src="assets/img/about.png" class="card-img">
    <div class="card-img-overlay">
      <h5 class="animate__animated animate__rotateInUpLeft animate__delay-1s" >Descubre el mundo de los Superhéroes</h5>
      <p class="card-text animate__animated animate__rotateInUpRight animate__delay-1s">Sumérgete en un universo lleno de poder, valentía y justicia. Explora las historias de los más emblemáticos superhéroes, <br>desde los legendarios hasta los más recientes. Únete a nuestra comunidad para <br> estar al tanto de las últimas noticias, análisis y debates sobre tus héroes favoritos. </p>
    </div>
</div>
<br>
<h2 class="font-weight-bolder text-center animate__animated animate__rotateInUpLeft ">
    ABOUT ME
</h2>
<hr class="my-3">
<img src="assets/img/sobremi.png" class="img-fluid animate__animated animate__backInDown " style="display: block; margin: 0 auto;">
<br>